@model ContatoModel;
<script src="~/js/jquery.mask.min.js"></script>
<script src="~/js/site.js"></script>
<div class="modal fade" id="modal-editar-contato" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Contato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Contato" asp-action="Criar" method="post">
                <div class="modal-body">


                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" asp-for="Nome" class="form-control" autocomplete="off" placeholder="Digite o nome do contato" required>
                        @Html.ValidationMessageFor(x => x.Nome)
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" asp-for="Email" class="form-control" autocomplete="off" placeholder="Digite o email do contato" required>
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div class="form-group">
                        <label for="numero">Numero</label>
                        <input type="text" asp-for="Numero" class="form-control sp_celphones" maxlength="15" autocomplete="off" placeholder="Digite o numero do contato" required>
                        @Html.ValidationMessageFor(x => x.Numero)
                    </div>
                    <div class="form-group">
                        <label for="ClienteId" class="control-label">Cliente</label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                    </div>
                    <br />

                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Voltar</a>
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

